<h2><%= link_to search_result.title, article_path(search_result) %></h2>
<p><%= simple_format truncate(search_result.text, length: 300, escape: false, separator: ' ') {
  link_to 'more', search_result } %></p>
