<% content_for :title, 'Search' %>
<h1>Search</h1>
<%= render 'search_form' %>
<br>
<% if params[:q] %>
	<% if @results.empty? %>
		No results
	<% else %>
		<p>Search results for: <strong><%= params[:q] %></strong></p>
		<%= render partial: 'search_result', collection: @results %>
	<% end %>
	<div class="text-center">
		<%= paginate @results %>
	</div>
<% end %>
