<% content_for :title, 'Articles' %>
<h1>Articles</h1>
<% if signed_in? %>
  <%= link_to 'New Article', new_article_path %>
<% end %>

<%= render @articles %>

<br><br>
<div class="text-center">
	<%= paginate @articles %>
</div>
	
