<% content_for :title, @article.title %>
<%= render @article %>
<hr class="divider">
<section>
	<h2>Comments</h2>
	<br>
	<%= render @article.comments %>
	<br>
	<%= render 'comments/comment_form' %>
</section>
