// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.cancel-link {
	margin-left: 20px;
}

hr.divider {
	border-top: 1px solid $shade-dark;
	width: 80%;
}