<nav>
  <h2>Admin</h2>
  <ul>
	  <%= link_to new_article_path do %>
      <li class="<%= current?(new_article_path) %>">New Article</li>
    <% end %>
	  <%= link_to new_category_path do %>
      <li class="<%= current?(new_category_path) %>">New Category</li>
    <% end %>
  </ul>
</nav>

