<nav id='categories-menu'>
	<h2>Categories</h2>
	<ul>
		<% Category.all.sort_alphabetically.each do |category| %>
      <%= link_to category_path(category) do %>
			  <li class="<%= current?(category_path(category)) %>">
          <%= category.name %>
        </li>
      <% end %>
		<% end %>
	</ul>
</nav>
